.nav-usuario-autenticado {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conjunto-nav {
  width: 81%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.search-btn {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn:hover {
  background-color:#6e6e6e;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.usuario-autenticado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.usuario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.corpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 100px;
}

.fundo-adiciona-produto {
  width: 100%;
  padding: 10%;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  gap:13%;
}

.dados-produto {
  width: 60%;
}

.descricao-produto {
  font-size: 16px;
}

.card {
  width: 30%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linha-vertical {
  border-left: 1px solid  rgb(112, 111, 130);
  height: 100%;
}

.card-titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-tinta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.cor-da-tinta {
  background-color: #6BEB4B;
  height: 25px;
  width: 5px;
}

.card-nome-tinta {
  font-size: 14px;
  font-weight: 200;
}

.card-preco {
  font-size: 25px;
  font-weight: 700;
  text-align: center
}

.card-imagem-produto {
  width: 100%;
}

.imagem-produto:hover {
  border-radius: 10px;
  background-color: rgb(112, 111, 130);
}

.preco-botao {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carrinho-btn {
  width: 100%;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #6495ED;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carrinho-btn:hover {
  background-color: #0287cf;
}
