
.nav-usuario-autenticado {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conjunto-nav {
  width: 81%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.search-btn {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn:hover {
  background-color:#6e6e6e;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.usuario-autenticado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.usuario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.corpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  padding-left: 22%;
  padding-right: 22%;
  margin-bottom: 100px;
}

.fundo-adiciona-produto {
  width: 100%;
  height: auto;
  padding: 10%;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

.dados-produto {
  width: 40%;
}

.imagem {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.linha-vertical {
  border-left: 1px solid  rgb(112, 111, 130);
  height: 100%;
}

.card {
  width: 170px;
  height: 170px;
  padding: 3%;
  border-radius: 3px;
  background: #282828;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-titulo {
  font-size: 13px;
  font-weight: 100;
}

.card-tinta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cor-da-tinta {
  background-color: #6BEB4B;
  height: 25px;
  width: 5px;
}

.card-nome-tinta {
  font-size: 12px;
  font-weight: 100;
}

.imagem-preco {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-preco {
  font-size: 15px;
  font-weight: 100;
  text-align: center
}

.card-imagem-produto {
  width: 50%;
}




