/* Todo o projeto */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  background: #282828;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color:  #33E333;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul:hover {
  color:  #33E333;
  cursor: pointer;
  text-shadow: #33E333 1px 0 10px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li ul.dropdown li {
  display:block;
}

ul li ul.dropdown {
  /* margin-top: 19px; */
  width: 100%;
  display:none;
  background-color: #515050;
  position: absolute;
  z-index: 999;
}

ul li:hover ul.dropdown {
  display: block;
}

/* ícones do google */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Todo o projeto */
/* Navbar usuário não cadastrado */
nav {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

/* Todo o projeto */
/* Navbar usuário não cadastrado */
.conjunto-nav {
  width: 81%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar usuário não cadastrado */
.login_steam {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #33E333;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar usuário não cadastrado */
.login_steam:hover {
  background-color: #10bf10;
}

/* Navbar*/
.searchbar {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

/* Navbar*/
.search-btn {
  width: 150px;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn:hover {
  background-color:#6e6e6e;
}

/* Navbar usuário não cadastrado */
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.login:hover {
  color:  #33E333;
  cursor: pointer;
  text-shadow: #33E333 1px 0 10px;
}

/* Navbar usuário não cadastrado */
.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

/* Navbar usuário autenticado */
.usuario-autenticado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

/* Navbar usuário autenticado */
.usuario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.usuario:hover {
  color:  #33E333;
  cursor: pointer;
  text-shadow: #33E333 1px 0 10px;
}

#span-nav:hover {
  color:  #33E333;
  cursor: pointer; 
  text-shadow: #33E333 1px 0 10px;
}

/* Todo o projeto */
.wrapper {
margin-top: 10%;
}

/* Todo o projeto */
.title {
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

/* Tela entrar e cadastrar */
.container {
  width: 15%;
  height: 50%;
  margin: auto;
  padding: 120px;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  font-size: 13px;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}

/* Tela entrar e cadastrar */
input {
  width: 100%;
  height: 45px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
  color: #000000;
}

/* Tela entrar e cadastrar */
button {
  width: 100%;
  height: 45px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #6495ED;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

/* Tela entrar e cadastrar */
button:hover {
  background-color: #0287cf;
}

/* Tela entrar e cadastrar */
.login-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tela entrar e cadastrar */
.login-layout button {
  margin-top: 40px;
}

/* Todo o projeto */
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
}

/* Todo o projeto */
select option {
  font-size: 15px;
}

/* Todo o projeto */
select:hover {
  border-color: #999;
}

/* Todo o projeto */
::placeholder {
  color: #AFAFAF;
}