/* Todo o projeto */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  background: #282828;
  padding: 0;
  margin: 0;
}

/* Todo o projeto */
/* Navbar usuário não cadastrado */
nav {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar usuário não cadastrado */
.login_steam {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #33E333;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar usuário não cadastrado */
.login_steam:hover {
  background-color: #10bf10;
}

/* Navbar*/
.searchbar {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

/* Navbar*/
.search-btn {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn:hover {
  background-color:#6e6e6e;
}

/* Navbar usuário não cadastrado */
.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

/* Navbar usuário não cadastrado */
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.entrar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

/* Todo o projeto */
.wrapper {
margin-top: 5%;
}

/* Todo o projeto */
.title {
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

/* Tela entrar e cadastrar */
.container {
  width: 15%;
  height: 50%;
  margin: auto;
  padding: 120px;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  font-size: 13px;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}

/* Tela entrar e cadastrar */
input {
  width: 100%;
  height: 45px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
  color: #000000;
}

/* Tela entrar e cadastrar */
button {
  width: 100%;
  height: 45px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #6495ED;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

/* Tela entrar e cadastrar */
button:hover {
  background-color: #0287cf;
}

/* Tela entrar e cadastrar */
.login-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tela entrar e cadastrar */
.login-layout button {
  margin-top: 40px;
}

/* Todo o projeto */
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
}

/* Todo o projeto */
select option {
  font-size: 15px;
}

/* Todo o projeto */
select:hover {
  border-color: #999;
}

/* Todo o projeto */
::placeholder {
  color: #AFAFAF;
}