.corpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 100px;
}

.fundo-adiciona-produto {
  width: 100%;
  height: auto;
  padding: 10%;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

.dados-produto {
  width: 40%;
}

.imagem {
  width: 40%;
  height: 45%;
  background-color: #4C4B58;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem:hover {
  background-color: rgb(112, 111, 130);
  cursor: pointer;
}

.imagem-produto {
  display: flex;
}

.input-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.linha-vertical {
  border-left: 1px solid  rgb(112, 111, 130);
  height: 100%;
}