.nav-usuario-autenticado {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conjunto-nav {
  width: 81%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.search-btn {
  width: 120px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #535353;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn:hover {
  background-color:#6e6e6e;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.usuario-autenticado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.icones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px
}

.usuario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.corpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 100px;
}

.fundo-carrinho {
  width: 100%;
  height: 50%;
  padding: 5%;
  border-radius: 3px;
  background: radial-gradient(circle at 0%, #4C4B58, #323030);
  color: #ffffff;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}

.produto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.wrapper-carrinho-linha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha-horizontal {
  border-bottom: 1px solid  rgb(112, 111, 130);
  width: 100%;
}

.card-titulo {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 10px;
}

.card-tinta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.cor-da-tinta {
  background-color: #6BEB4B;
  height: 25px;
  width: 5px;
}

.card-nome-tinta {
  font-size: 16px;
  font-weight: 200;
}

.card-preco {
  font-size: 24px;
  font-weight: 200;
}

.card-imagem-produto {
  width: 30%;
  height: auto;
}

.imagem-nome-produto {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.preco-botao {
  display: flex;
  align-items: center;
  gap: 50px;
}

.botoes {
  display: flex;
  align-items: center;
  gap:10px;
}

.comprar-btn {
  width: 100px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #33E333;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comprar-btn:hover {
  background-color: #10bf10;
}

.remover-carrinho-btn {
  width: 50px;
  height: 45px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #F14668;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.remover-carrinho-btn:hover {
  background-color: #cc2e4d;
}